body {
	background-image: url(https://i.ytimg.com/vi/KFNxdXEe0Ko/maxresdefault.jpg);
}

.wrapper {
	width: 80%;
	min-height: 600px;

	border: 1px solid gray;
	margin: auto;
}

header {
	color: white;
}

nav {
	height: 50px;
	background: #9b59b6;
}

nav ul {
	display: flex; /* main axis = X */
	flex-flow: row; /* row = x; column = y; */
	height: 100%;
	justify-content: space-around; /* main axis */
	align-items: center; /* Cross axis */
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: flex;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-family: "Courier";
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 18px;
	line-height: 50px;
}

nav ul li a:hover {
	background: rgba(0, 0, 0, .2);
}

.fa-angry {
	font-size: 20px;
	color: #fff;
	transition: all .3s;
}

.fa-angry:hover {
	transform: rotate(180deg);
	color: #eee;
}

.fa-baby-carriage {
	color: #fff;
}

main {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: minmax(300px, auto) 25px;
	grid-template-areas: "left mid right" "bottom bottom bottom";
}

.left {
	background: #3498db;
	grid-area: left;
}

.mid {
	background: #e74c3c;
	grid-area: mid;
}

.right {
	background: #16a085;
	grid-area: right;
}

.bottom {
	background: #f39c12;
	grid-area: bottom;
}

footer {
	height: 175px;
	background: #34495e;
}

footer p {
	margin: 0;
}

footer p:nth-child(odd) {
	text-decoration: line-through;
	color: white;
}
