<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="UTF-8">
    <title>Layout 3</title>
    <link rel="stylesheet" href="css/layout3.css">
</head>
<body>
    <header>
        <img src="https://via.placeholder.com/80C/O https://placeholder.com/" alt="logo">
        <nav>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
            </ul>
        </nav>
    </header>
    <section class="image-slider">
        <img src="" alt="left-arrow">
        <figure>
            <img src="" alt="slide-show">
            <figcaption>Image caption</figcaption>
        </figure>
        <img src="" alt="right-arrow">
    </section>
    <main>
        <section class="portfolio">
            <figure>
                <img src="#" alt="portfolio image">
                <figcaption>Image caption</figcaption>
            </figure>
            <figure>
                <img src="#" alt="portfolio image">
                <figcaption>Image caption</figcaption>
            </figure>
            <figure>
                <img src="#" alt="portfolio image">
                <figcaption>Image caption</figcaption>
            </figure>
            <figure>
                <img src="#" alt="portfolio image">
                <figcaption>Image caption</figcaption>
            </figure>
            <figure>
                <img src="#" alt="portfolio image">
                <figcaption>Image caption</figcaption>
            </figure>
            <figure>
                <img src="#" alt="portfolio image">
                <figcaption>Image caption</figcaption>
            </figure>
            <figure>
                <img src="#" alt="portfolio image">
                <figcaption>Image caption</figcaption>
            </figure>
            <figure>
                <img src="#" alt="portfolio image">
                <figcaption>Image caption</figcaption>
            </figure>
        </section>
    </main>
    <footer>
        <section>
            <h3>header text</h3>
            <p>footer example text</p>
        </section>
        <section>
            <h3>header text</h3>
            <p>footer example text</p>
        </section>
        <section>
            <h3>header text</h3>
            <p>footer example text</p>
        </section>
        <section>
            <h3>header text</h3>
            <p>footer example text</p>
        </section>
    </footer>
</body>
</html>