<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/layout4.css">
</head>
<body>
    <header>
      <div class="navbar">
        <div class="navbar-item pure"><a class="navbar-pure" href="#">Pure approval</a></div>
        <div class="navbar-item">Home</div>
        <div class="navbar-item">Create</div>
      </div>
    </header>
    
    <section class="box"></section>
    <section class="box"></section>
</body>
</html>