@charset 'utf-8';

body {
	background: #000428; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #004e92, #000428); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#004e92,
		#000428
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	color: #fff;
}
body h1 {
	color: white;
	text-shadow: 2px 2px #000;
	font-size: 32px;
}
section img {
	width: 50%;
}
section button {
	padding: 10px;
	text-shadow: 1px 1px 0px #000;
	color: #fff;
	text-transform: uppercase;
	outline: none;
}
section button::before {
	content: "> ";
}
section button::after {
	content: "! ";
}
section button:nth-child(1) {
	background-color: red;
}
section button:nth-child(2) {
	background-color: blue;
}
section button:nth-child(3) {
	background-color: Orange;
}
